<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Prize</title>
  <%= stylesheet_link_tag "bootstrap.min" %>

  <%= javascript_include_tag "jquery-1.7.2.min", "bootstrap.min" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
这里是手机Layout
<hr>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
